<!DOCTYPE html> 
<html> 
<head> 
<title>
<%= title %>
</title> 
</head> 
<body> 
<% if (user) { %> 
<a href="/signout">Sign out</a> <% 
} else { 
%> <a href="/signup">Signup</a> <a href="/signin">Signin</a> <% 
} %>

<section ng-view></section>
<h1><%= title %></h1> 
  
<script type="text/javascript"> window.user=<%- user || 'null' %>; </script> 

<script type="text/javascript" src="/lib/angular/angular.js"></script> 
<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script> 
<script type="text/javascript" src="/examplemodule/example.client.module.js"></script> 
<script type="text/javascript" src="/examplemodule/controllers/example.client.controller.js"></script> 
<script type="text/javascript" src="/examplemodule/config/example.client.route.js"></script>

<script type="text/javascript" src="/appusers/appusers.client.module.js"></script> 
<script type="text/javascript" src="/appusers/services/authentication.client.services.js"></script>
 
<script type="text/javascript" src="/application.js"></script>

</body> 
</html>
